# URL from which Open ID Connect configuration can be discovered.
# Does not contain ".well-known/openid-configuration" as it will be automatically appended.
OAUTH2_PROXY_OIDC_ISSUER_URL=https://your-oidc-server.com/

# Client ID assigned by your OpenID Connect identity provider.
OAUTH2_PROXY_CLIENT_ID=CHANGE_ME

# Client Secret corresponding to the Client ID above.
OAUTH2_PROXY_CLIENT_SECRET=CHANGE_ME

# Value generated using one of the methods from https://oauth2-proxy.github.io/oauth2-proxy/docs/configuration/overview/#generating-a-cookie-secret
OAUTH2_PROXY_COOKIE_SECRET=CHANGE_ME
